body{
  font-family:Verdana, Geneva,Arial;
}
html {
  font-size: 12px;
}

h1 {
  font-size: 2.2rem;
}

p {
  font-size: 1.3rem;
}
h2{
	font-weight:normal;
}
blockquote{
  font-size:italic;
}
h1,h2{
  color: #CC6600;}
h1,h2 {
	border-bottom: thin dotted #888888;
}
