
body{
	color: royalblue;
	color: rgb(65, 105, 225);
	color: #4169E1CC;
	color: rgba(39,177,182,0.8);
	color: #2775b6CC;
}
body{
    background-color:rgb(128, 118, 163,0.6);
    }
p {
  font-style: italic;
}